body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(img/background.png);
    }

#fachada {
    background-color: lightcyan;
}

#fachada h1 {
    font-family: 'Lugrasimo', 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 52px;
    color: rgb(253, 231, 231);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: lightcyan;
    padding: 8px;
    position: relative;
}

#comida {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

#comida img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 3px solid #d7d8d7;
}

.logo a img{
    width: 75px;
    height: auto;
    position: absolute;
    top: 42px;
    left: 16px;
    margin-bottom: 60px;
}

.logo {
    text-align: left;
}

#recipe {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 350px;
    margin-left: 30px;
    line-height: 30px;
    display: block;
}

#lista {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

#lista img{
    width: 300px;
    height: 300px;
    margin-right: 150px;
    margin-left: 150px;
    border: 3px solid #d7d8d7;
}

.prato {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: lightcyan;
    font-size: 38px;
}

#containersupremo {
    text-align: center;
}

#carta {
    background-color: hsla(180, 100%, 94%, 0.450);
    height: 825px;
    border: 3px #d7d8d7 solid;
    padding: 30px;
}



